@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Raleway:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde-escuro: #564570;
    --branco-creme: #f1f1f1;
    --vermelho: #2d2c7d;
    --roxo-escuro: #713c92;
    --roxo-claro: #ab47bc;
    --cinza-claro: #eeeeee;
    --preto: #000000;
    --fonte-titulo: "Raleway", sans-serif;
    --fonte-texto: "Roboto", sans-serif;
}

body{
    background-color: var(--cinza-claro);
    font-family: var(--fonte-texto);
    color: var(--preto);
    height: 100vh;
}

header{
    background-color: var(--roxo-escuro);
    text-align: center;
}

h1{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--branco-creme);
    padding: 1.5rem 0;
}

nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a{
    text-decoration: none;
    color: var(--branco-creme);
    font-size: 2rem;
    margin: 0 2rem 1rem 0;
}

nav a:hover{
    text-decoration: underline;
    color: var(--vermelho);
    transform: scale(1.05);
    transition: transform 0.3s;
}

.caixa-grafico{
    margin: 5rem;
    background-color: var(--roxo-claro);
    padding: 2rem;
    border-radius: 15px;
    border: var(--preto) double 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-grafico__titulo{
    padding-top: 2rem;
    font-size: 2.5rem;
    color: var(--branco-creme);
}

.caixa-grafico__texto{
    font-size: 1.5rem;
    padding: 2em 0 2.5em 0;
    color: var(--preto);
}

span{
    font-family: var(--fonte-titulo);
    color: var(--vermelho);
    font-size: 30px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-escuro);
    color: var(--branco-creme);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1.8rem;
}
